@model TweemSong_HackCU4.Models.ThemeModel
@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
    <link rel="Stylesheet" href="~/css/Index.css" type="text/css" />
    <meta name="viewport" content="width=device-width" />
</head>

<body>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <h2>What is your TwemeSong?</h2>
            <form asp-controller="Home"
                  asp-action="Results" method="post">
                <input type="text" name="TwitterHandle" placeholder="@@username">
                <input type="submit" value="Find TwemeSong" />
            </form>
        </div>
    </div>
</body>

<div id="footer">
    <h4>Other accounts to try!</h4>
    <a>•</a>
    <a href="~/Home/Results/RealDonaldTrump" style="color:white;">Donald Trump</a>
    <a>•</a>
    <a href="~/Home/Results/TheHappyQuote" style="color:white;">Positive Quotes</a>
    <a>•</a>
    <a href="~/Home/Results/KatyPerry" style="color:white;">Katy Perry</a>
    <a>•</a>
    <a href="~/Home/Results/TheEllenShow" style="color:white;">Ellen DeGeneres</a>
    <a>•</a>
    <a href="~/Home/Results/CNN" style="color:white;">CNN</a>
    <a>•</a>
    <a href="~/Home/Results/PattyMo" style="color:white;">Patrick Monahan</a>
    <a>•</a>
    <a href="~/Home/Results/JimmyFallon" style="color:white;">JimmyFallon</a>
    <a>•</a>
</div>