@model TweemSong_HackCU4.Models.ThemeModel
@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
    <link rel="Stylesheet" href="~/css/Index.css" type="text/css" />
    <meta name="viewport" content="width=device-width" />
</head>

<body>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <h2>What is your TwemeSong?</h2>
            <form asp-controller="Home"
                  asp-action="Results" method="post">
                <input type="text" placeholder="@@"/>
                <input type="submit" value="Find TwemeSong"/>
            </form>
        </div>
    </div>
</body>
