@model TweemSong_HackCU4.Models.ResultsModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
    <link rel="Stylesheet" href="~/css/Results.css" type="text/css" />
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <h3>@@@Html.DisplayFor(m => m.Username)'s TwemeSong is...</h3>
            <h2>@Html.DisplayFor(m => m.Track.artists.First().name)'s</h2>
            <h1>@Html.DisplayFor(m => m.Track.name)</h1>
            <div style='width: 100%; height: 80px; margin: auto;'>
                <iframe src=@Html.DisplayFor(m => m.ListenUrl) allowtransparency="true" allow="encrypted-media" style="width: 80%; height: 100%;"></iframe>
            </div>
            <br />
            <p>Postivity: @Html.DisplayFor(m => m.Sentiment.score) | Energy: @Html.DisplayFor(m => m.Sentiment.magnitude)</p>
            <br />
            <a href="#" style="color:white;" onclick="history.go(-1)">Try Again</a>
        </div>
    </div>
</body>
</html>
